
        h1 {
            color: aqua;
        }

        h2 {
            color: purple
        }

        h3 {
            font-style: italic;
        }

        #CSS {
            color: greenyellow;
        }

        code {
            color: blue;
            font-weight: bold;
        }


        #tres {
            font-weight: bold;
        }

        .parrafo {
            color: gray;
            text-transform: uppercase;
        }

        #hoja {
            color: red;
            font-weight: bold;
        }

